{% block title %}The Codecave{% endblock %}

{% block article %}
	<section>
		<h2>Projects</h2>
		<ul class="panel">
			{% for project in model.projects %}
			<li><a href="{{ project.url }}"><img src="/public/img/codecave/{{ project.image }}" alt="{{ project.name }}"/><span>{{ project.name }}</span></a><p>{{ project.description }}</p></li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}

{% block aside %}
	<section>
		<h3>Utility Belt</h3>
		<ul class="bulleted code">
			{% for item in model.utilities %}
			<li>
				<a href="{{ item.url }}"><strong>{{ item.name }}</strong></a> 
				<p>{{ item.description }}</p>
			</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}